* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  background: #000;
}

.header {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid grey;
  position: sticky;
  top: 0;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__title__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__logo {
  width: 4rem;
  margin-left: 0.5rem;
}

.modal__container__products .header__title {
  font-size: 2rem;
  font-weight: 900;
}

.cart__container .cantidad__carrito {
  position: absolute;
  right: 30%;
  top: 10%;
  display: none;
  font-size: 0.8rem;
  color: #000;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.3);
}

.sumar,
.restar {
  cursor: pointer;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__list__links {
  text-decoration: none;
  color: #fff;
}

.nav__list__link {
  list-style: none;
}

.cart__container {
  justify-self: flex-end;
}

.modal__container__products-disable {
  display: none;
}

.cart__container__logo {
  cursor: pointer;
  position: relative;
}

/*MAIN CONTENT*/

.banner__container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("../IMG/tecnologia-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.banner__container_subtitle {
  color: rgba(254, 254, 254, 0.5);
}

/*PRODUCT CARDS*/
.shop__content {
  background: #000;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.shop__content__container {
  display: flex;
  padding: 1rem;
}

.shop__content__container .filter__container__box {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
  position: sticky;
  top: 20%;
}

.filter__container__ul__title {
  text-decoration: underline;
  margin-bottom: 1em;
}

.filter__container__ul__filters {
  list-style: none;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.filter__container__ul__filters:hover {
  text-decoration: underline;
}

.card {
  width: 20rem;
  height: 400px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 0.5rem;
}

.card > img {
  width: 100%;
  height: 250px;
  display: block;
}

.precio {
  color: grey;
  font-size: 1rem;
}

.card .btn-comprar {
  border: 1px solid #fff;
  border-radius: 5px;
  outline: 0;
  padding: 0.7rem;
  background: transparent;
  text-align: center;
  cursor: pointer;
  width: 40%;
  color: #fff;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: background 400ms ease-in;
}

.btn-comprar:hover {
  background: rgba(254, 254, 254, 0.5);
}

.top__arrow {
  position: sticky;
  bottom: 5%;
  left: 93%;
  align-self: self-end;
  font-size: 3rem;
  text-align: center;
  background: rgba(254, 254, 254, 0.2);
  width: 58px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 0;
}

.top__arrow > a {
  text-decoration: none;
  color: #fff;
}
/*MODAL CONTENT*/

.modal__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 5px;
}

.modal__container__products-disable {
  display: none;
}

.modal__container__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30rem;
  max-height: 80vh;
  background: #fff;
  color: #000;
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
  /* margin-right: 0.5rem; */
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 17%;
  right: 0;
  scrollbar-color: none;
}

.modal__container__products::-webkit-scrollbar {
  display: none;
}

.modal__content {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  gap: 0.5rem;
}

.modal__header__btn {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 0.3rem;
  background: rgba(0, 0, 0, 0.2);
}

.modal__content > img {
  height: 120px;
  width: 120px;
}

.delete__product {
  cursor: pointer;
}

.total__compra {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 5px;
}

.btn__vaciar__carrito {
  padding: 1rem;
  border: 1px solid red;
  color: red;
  background: transparent;
  transition: background 400ms ease;
}

.btn__vaciar__carrito:hover {
  background: rgba(255, 0, 0, 0.347);
}

@media (max-width: 520px) {
  .header__container {
    gap: 1rem;
  }
  .header__container .header__logo {
    width: 3rem;
  }
  .header__container .header__title {
    font-size: 0.7rem;
  }

  .nav .nav__list {
    padding-top: 0;
  }

  .nav .nav__list__links {
    font-size: 0.7rem;
  }
  .modal__container__products {
    width: 100%;
    max-height: 40vh;
  }

  .modal__container__products .modal__header {
    padding: 0.5rem;
  }

  .modal__container__products .total__compra {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .modal__content {
    width: 100%;
  }

  .modal__content .restar {
    margin-left: 3rem;
  }
  .shop__content__container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .shop__content__container .filter__container__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .shop__content__container .filter__container__box {
    margin: 10px 15px;
  }

  .top__arrow {
    font-size: 2rem;
    width: 38px;
  }
}
